
.info {
    margin: 3% auto 10%;
    width: 65%; /* Adjust width as needed */

    height: fit-content;
    border-radius: 0; /* Adjust border radius for sharp corners */
    border: 2px solid black; /* Add a black border */

    background-color: white;

    text-align: left;
    align-content: normal;

    padding: 10px 10px 0;

}

.info h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    margin-bottom: 120px;
}

.info p{
    padding-left: 130px;
    font-family: 'Font2', Arial, sans-serif;
    padding-bottom: 1%;
}

label {
    position: revert;
    transform: translateY(-50%);
    background-color: #fff;
    font-size: 16px;
    transition: top 0.3s, font-size 0.6s;
    color: #595959;
    font-family: 'Font2', Arial, sans-serif;
    text-align: left;
}

div{
    width: 75%;
    align-content: center;
}

.info a{
    background-color: #5a768a; /* Button background color */
    color: #ffffff; /* Button text color */
    border: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Font2', Arial, sans-serif; /* Button font */
    font-weight: bold;
    margin-top: 10%;
    margin-left: 130px;
    font-size: 20px;
    padding: 20px;
    padding-inline: 70px;
    text-decoration: none;
    border-radius: 3vw;
}

.logout-btn a{
    background-color: #000000; /* Button background color */

    color: #ffffff; /* Button text color */
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Font2', Arial, sans-serif; /* Button font */
    font-weight: bold;
    height: fit-content;

    width: fit-content;

    border-radius: 3vw;
    display: inline-block;

    font-size: 20px;
    padding-inline: 70px;
    text-decoration: none;
    margin-bottom: 10%;
    margin-top: 10%;
}


.info a:hover {
    background-color: #89d6b6;
}
.logout-btn a:hover {
    background-color: #cc0000;
}

