/* CSS styles for the home page */
@font-face {
    font-family: 'Font1'; /* Header font */
    src: url('media/font1/ancient-tulip-webfont.woff2') format('woff2'),
    url('media/font1/ancient-tulip-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Font2'; /* menu bar font */
    src: url('media/font2/VintageGlamour.woff2') format('woff2'),
    url('media/font2/VintageGlamour.woff') format('woff');
}

header {
    font-family: 'Font1', Arial, sans-serif;
    background-image: url('media/home_banner.jpg');
    height: 220px;
    background-size: contain;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #abdbb7;
    text-align: center;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1, .company-name {
    font-size: 9vw;
}

h2 {
    font-family: 'Font2', Arial, sans-serif;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #b8e0c7;

}

nav {
    background-color: #5a768a;
    color: #89d6b6;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}


nav a {
    color: #ffffff;
    font-family: 'Font2', Arial, sans-serif;
    text-decoration: none;
    margin: 0 19px;
    font-weight: bold;
    display: inline;
}


.menu-btn{
    align-self: start;
    max-height: 20px;
    margin-right: 30%;
    margin-left: 0;
    display: inline;
}

.menu-content{
    display: inline;
}

.menu-button{
    display: inline;
    margin-right: 30%;
}

#menu-icon {
    cursor: pointer;
}

.vertical-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #5a768a;
    font-family: Font2, sans-serif;
    min-width: 20%;
    z-index: 1;
    margin-right: 80%;
    text-align: center;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    max-height: 0;
    overflow: hidden;
    width: 20%;
}

.vertical-menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
    text-align-all: center;
    font-weight: bold;
    margin: 3%;
}

.menu-button:hover .vertical-menu {
    max-height: 200px; /* Adjust the maximum height as needed */
    transition: max-height 0.9s ease-in-out; /* Add this line */
}

.vertical-menu.open {
    max-height: 200px; /* Adjust the maximum height as needed */
}

/* Style for the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    bottom: 0;
}

.footer-content {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 100%;
    font-family: Perpetua, sans-serif;
}

.footer-links,
.footer-info,
.footer-map {
    flex: 1;
    margin: 0 10px;
    text-align: left;
}

.footer-links p {
    font-size: 14px;
}

.footer-info p {
    font-style: italic;
    padding-top: 15px;
}
.footer-info h3{
    margin-left: 0;
    margin-top: 30px;
}

footer a:hover {
    text-decoration: underline;
}


.footer-links a:hover{
    text-decoration: underline;
}
.footer-links{
    margin: 3% 3% 3% 10%;

}

.footer-links a{
    text-decoration: none;
    font-size: 1.1vw;

}

#subscription-form{
    font-family: Perpetua, Font2, sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;

}

#subscription-form input{
    border-radius: 4vw;
    font-family: Perpetua, sans-serif;
    height: 30px;
    font-size: 18px;
    width:fit-content;
    padding-inline: 20px;

}

#subscription-form button{
    background-color: rgb(0, 0, 0);
    font-family: Font2, sans-serif;
    font-size: 17px;
    border-radius: 4vw;
    color: white;
    border: none;
    height: fit-content;
    width: fit-content;
    padding-inline: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}



