.info {
    margin: 3% auto 2%;
    width: 65%;
    height: fit-content;
    border-radius: 0;
    border: 2px solid black;
    background-color: white;
    text-align: left;
    align-content: normal;
    padding: 10px 10px 0;
}

.info h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


label {
    position: revert;
    transform: translateY(-50%);
    background-color: #fff;
    font-size: 16px;
    transition: top 0.3s, font-size 0.6s;
    color: #595959;
    font-family: 'Font2', Arial, sans-serif;
    text-align: left;
}

div{
    width: 75%;
    align-content: center;
}

textarea{
    width: 100%;
    min-height: 300px;
    padding: 0;
    border: 1.5px solid black;
    border-radius: 0;
}

form{
    align-content: center;
    padding: 0 130px 0;
}

button {
    background-color: #5a768a;
    color: #ffffff;
    border: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Font2', Arial, sans-serif;
    font-weight: bold;
    padding: 15px 70px;
    margin-top: 10px;
    font-size: 20px;
    align-content: center;
    width: 24%;
    margin-inline: 38%;
    border-radius: 3vw;
    margin-bottom: 35px;
}


button:hover {
    background-color: #89d6b6;
}

.company-info{
    width: 30%;
    display: inline-block;
    align-content: end;
}

.map{
    width:80%;
    height: 150px;
    overflow: hidden;
    margin-inline: 130px;
    margin-bottom: 30px;
    border-radius: 1vw;
}

.map iframe{
    width: 100%;
    height: 100%;
}

h3{
    font-family: Font2, sans-serif;
    font-style: normal;
    align-self: center;
}
.address{
    font-family: Perpetua, Font2, sans-serif;
    vertical-align: top;
    align-self: end;
    width: 100%;
    left: 0;
    position: relative;
    font-size: 16px;

}

.user-info{
    font-family: Font2, Perpetua, sans-serif;
    display: inline-block;
    width: 50%;
    margin-left: 130px;

}

.all-info{
    display: inline;
}

