@font-face {
    font-family: 'Font1'; /* Header font */
    src: url('media/font1/ancient-tulip-webfont.woff2') format('woff2'),
    url('media/font1/ancient-tulip-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Font2'; /* menu bar font */
    src: url('media/font2/VintageGlamour.woff2') format('woff2'),
    url('media/font2/VintageGlamour.woff') format('woff');
}

header {
    font-family: 'Font1', Arial, sans-serif;
    background-image: url('media/home_banner.jpg');
    height: 220px;
    background-size: contain;
    background-position: center;
    color: #abdbb7;
    text-align: center;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1, .company-name {
    font-size: 9vw;
}

h2 {
    font-family: 'Font2', Arial, sans-serif;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

nav {
    background-color: #5a768a;
    color: #89d6b6;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

nav a {
    color: #ffffff;
    font-family: 'Font2', Arial, sans-serif;
    text-decoration: none;
    margin: 0 19px;
    font-weight: bold;
    display: inline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #b8e0c7;

}

.info {
    margin: 3% auto 2%;
    width: 65%;
    height: fit-content;
    border-radius: 0;
    border: 2px solid black;
    background-color: white;
    text-align: left;
    align-content: normal;
    padding: 10px 10px 0;
}

.info h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.info p{
    padding-left: 130px;
    font-family: 'Font2', Arial, sans-serif;
    padding-bottom: 1%;
}

label {
    position: revert;
    transform: translateY(-50%);
    background-color: #fff;
    font-size: 16px;
    transition: top 0.3s, font-size 0.6s;
    color: #595959;
    font-family: 'Font2', Arial, sans-serif;
    text-align: left;
}

div{
    width: 75%;
    align-content: center;
}



textarea{
    width: 100%;
    min-height: 300px;
    padding: 0;
    border: 2px solid black;
    border-radius: 0;
}

form{
    align-content: center;
    padding: 0 130px 0;
}

button {
    background-color: #5a768a; /* Button background color */
    color: #ffffff; /* Button text color */
    border: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Font2', Arial, sans-serif; /* Button font */
    font-weight: bold;
    padding: 15px 70px;
    margin-top: 10px;
    font-size: 20px;
    align-content: center;
    width: 24%;
    margin-inline: 38%;
    border-radius: 3vw;
    margin-bottom: 35px;
}


button:hover {
    background-color: #89d6b6;
}


.vertical-menu a {
    padding: 12px 16px;
    text-decoration: white;
    display: block;
    text-align-all: center;
    font-weight: bold;
    margin: 3%;
    color: white;
}



.menu-btn{
    align-self: start;
    max-height: 20px;
    margin-right: 30%;
    margin-left: 0;
    display: inline;
}

.menu-content{
    display: inline;
}

.menu-button{
    display: inline;
    margin-right: 30%;
}

#menu-icon {
    cursor: pointer;
}

.vertical-menu {
    display: none;
    position: absolute;
    background-color: #5a768a;
    font-family: Font2, sans-serif;
    min-width: 20%;
    z-index: 1;
    margin-right: 80%;
    text-align: center;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    max-height: 0;
    overflow: hidden;
    text-decoration: white;
    width: 20%;
}


.menu-button:hover .vertical-menu {
    max-height: 200px; /* Adjust the maximum height as needed */
    transition: max-height 0.9s ease-in-out; /* Add this line */
}

.vertical-menu.open {
    max-height: 200px; /* Adjust the maximum height as needed */
}

