/* CSS styles for the home page */
@font-face {
    font-family: 'Font1'; /* Header font */
    src: url('media/font1/ancient-tulip-webfont.woff2') format('woff2'),
    url('media/font1/ancient-tulip-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Font2'; /* menu bar font */
    src: url('media/font2/VintageGlamour.woff2') format('woff2'),
    url('media/font2/VintageGlamour.woff') format('woff');
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    font-family: 'Font1', Arial, sans-serif;
    background-image: url('media/home_banner.jpg'); /* Replace with the actual path to your image */
    height: 220px;
    background-size: contain;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6); /* Optional overlay color */
    color: #abdbb7;
    /*padding: 10px 0; */
    text-align: center;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1, .company-name {
    /*padding-top: -960px; /* Add padding to the top to separate from the banner */
    font-size: 9vw; /* Adjust font size as needed */
}
h2 {
    font-family: 'Font2', Arial, sans-serif;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    margin-bottom: 10%;

}

nav {
    background-color: #5a768a;
    color: #89d6b6;
    text-align: center;
    padding: 10px 0;

}
nav a {
    color: #ffffff;
    font-family: 'Font2', Arial, sans-serif;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.add-project-container{

    margin: 3% auto 10%;
    width: 65%; /* Adjust width as needed */

    height: fit-content;
    border-radius: 0; /* Adjust border radius for sharp corners */
    border: 2px solid black; /* Add a black border */

    background-color: white;

    text-align: left;
    align-content: normal;

    padding: 10px 10px 70px;
}

.input-group{
    margin-left: 10%;
    align-content: center;
}

body {
    font-family: Font2, Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #b8e0c7;
}

.add-project-container input{
    display: flex;
    margin-bottom: 8%;

    padding: 10px;
    border: none; /* Remove the default border */
    border-bottom: 1px solid #ccc; /* Add a bottom border */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 40%;

    background-color: white;
    outline: none;
    transition: background-color 0.3s;
}
.add-project-container button {
    background-color: #5a768a; /* Button background color */
    color: #ffffff; /* Button text color */
    border: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Font2', Arial, sans-serif; /* Button font */
    font-weight: bold;
    padding: 15px 70px;
    margin-top: 5vw;
    font-size: 20px;
    align-content: center;
    width: 24%;
    margin-inline: 38%;
    border-radius: 3vw;


}

.add-project-container button:hover {
    background-color: #89d6b6;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 16px;
    width: 50%;
    height: 1300%;
    box-sizing: border-box;
    font-family: 'Font2', Arial, sans-serif;
    text-decoration-color: #5a768a;
    margin-bottom: 20px;
    border-radius: 3vw;

}

/* Style the "Choose File" button */
input[type="file"]::file-selector-button {
    padding: 10px;
    background-color: #5a768a;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Font2', Arial, sans-serif;
    border-radius: 3vw;
}

/* Style the arrow icon (if applicable) */
input[type="file"]::-webkit-file-upload-button {
    background-color: #5a768a;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3vw;
}

.input-group label {
    margin-bottom: 50%;
    padding-bottom: 200%;
}

textarea{
    width: 70%;
}

.textarea{
    font-family: Perpetua, Font2, sans-serif;
    border-radius: 0.5vw;
    font-size: 120%;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: 10%;
}

.checkbox-group label{
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 2.5vw;
    margin-bottom: 5px;

}

.checkbox-group input{
    margin: 0;
    padding: 0;
    border: #89d6b6;
    border-radius: 4px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 0.8vw;
}