body{
    background-color: white;
}

.gallery-container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    height: 300px;
}

.gallery-slides {
    display: flex;
    animation: scroll 60s linear infinite;
    height: 1000px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}

.gallery-slide {
    position: relative;
    width: auto;
    height: 400px;
}

.gallery-slide img {
    width: auto;
    height: 100%;
}

.gallery-slide img.main-slide {
    filter: none;
}
.home-greeting{
    text-align: center;
    font-family: Perpetua, Font2, sans-serif;
    font-size: 1.3vw;
    line-height: 1.5;
    margin-inline: 15%;
    width: 50%;
    background: white;
    border: black solid 3px;
    padding-inline: 10%;
    padding-top: 7%;
    padding-bottom: 7%;

}

.home-greeting-container{
    background-image: url("media/bg/green-6-1.jpg");
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 0;
    background-size: cover;
    border: black 7px;
}

.about-us{
    text-align: center;
    font-family: Perpetua, Font2, sans-serif;
    font-size: 1.3vw;
    line-height: 1.5;
    padding-top: 5%;
}

.about-us-container{
    width: 70%;
    margin-bottom: 5%;
    margin-inline: 15%;
}

.projects-rotating-gallery {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #a9bbc4;
}

.gallery-slides-2 {
    display: flex;
    transition: transform 1s ease-in-out;
}

.project-2 {
    flex: 0 0 14%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.project-2 h3 {
    margin: 10px 0;
    font-family: 'Font2', Arial, sans-serif;
}

.project-2 img {
    width: 11vw;
    height: 11vw;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px auto 3px;
}

.project-2 p {
    font-family: Perpetua, 'Font2', sans-serif;
    font-size: large;
    padding-bottom: 2%;
}

.rotate-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}

#prev-button {
    left: 0;
    color: rgb(255,255,255, 0.5);
}

#next-button {
    right: 0;
}

.separator{
    background-image:
            linear-gradient(to right, transparent 100px, transparent 300px),
            url("media/bg/leaf.png");
    width: 100%;
    height: 33px;
    background-size: 1.5%;
    background-repeat: repeat-x;
    background-color: rgba(1, 57, 174, 0.41);
}
