/* CSS styles for the home page */
@font-face {
    font-family: 'Font1'; /* Header font */
    src: url('media/font1/ancient-tulip-webfont.woff2') format('woff2'),
    url('media/font1/ancient-tulip-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Font2'; /* menu bar font */
    src: url('media/font2/VintageGlamour.woff2') format('woff2'),
    url('media/font2/VintageGlamour.woff') format('woff');
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    font-family: 'Font1', Arial, sans-serif;
    background-image: url('media/home_banner.jpg'); /* Replace with the actual path to your image */
    height: 220px;
    background-size: contain;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6); /* Optional overlay color */
    color: #abdbb7;
    /*padding: 10px 0; */
    text-align: center;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1, .company-name {
    /*padding-top: -960px; /* Add padding to the top to separate from the banner */
    font-size: 9vw; /* Adjust font size as needed */
}
h2 {
    font-family: 'Font2', Arial, sans-serif;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;

}


.company-name {
    /* font-size: 24px;*/
    font-weight: bold;

}
nav {
    background-color: #5a768a;
    color: #89d6b6;
    text-align: center;
    padding: 10px 0;

}
nav a {
    color: #ffffff;
    font-family: 'Font2', Arial, sans-serif;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
