/* CSS styles for the home page */
@font-face {
    font-family: 'Font1'; /* Header font */
    src: url('media/font1/ancient-tulip-webfont.woff2') format('woff2'),
    url('media/font1/ancient-tulip-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Font2'; /* menu bar font */
    src: url('media/font2/VintageGlamour.woff2') format('woff2'),
    url('media/font2/VintageGlamour.woff') format('woff');
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Font1', Arial, sans-serif;
    background-image: url('media/home_banner.jpg');
    height: 220px;
    background-size: contain;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #abdbb7;
    text-align: center;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1, .company-name {
    font-size: 9vw; /* Adjust font size as needed */
}

h2 {
    font-family: 'Font2', Arial, sans-serif;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

nav {
    background-color: #5a768a;
    color: #89d6b6;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}


nav a {
    color: #ffffff;
    font-family: 'Font2', Arial, sans-serif;
    text-decoration: none;
    margin: 0 19px;
    font-weight: bold;
    display: inline;
}

.gallery-container {
    position: relative;
    overflow: hidden;
    margin: 0 auto; /* Center the gallery */
    height: 1000px;
}

.gallery-slides {
    display: flex;
    animation: scroll 60s linear infinite; /* Apply the scrolling animation */
    height: 1000px;
}

@keyframes scroll {
    from {
        transform: translateX(0); /* Start from the left */
    }
    to {
        transform: translateX(-200%); /* Scroll to the left */
    }
}

.gallery-slide {
    position: relative;
    width: auto; /* Ensure each slide takes up full width */
    height: 400px;
}

.gallery-slide img {
    width: auto; /* Let the image adjust its width naturally */
    height: 100%; /* Ensure images take up full height of slide */
}

.gallery-slide img.main-slide {
    filter: none;
}
.home-greeting{
    text-align: center;
    font-family: Perpetua, Font2, sans-serif;
    font-size: 1.3vw;
    line-height: 1.5;
    margin-inline: 15%;
    width: 50%;
    background: white;
    border: black solid 3px;
    padding-inline: 10%;
    padding-top: 7%;
    padding-bottom: 7%;

}

.home-greeting-container{
    background-image: url("media/bg/green-6-1.jpg");
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 0;
    background-size: cover; /* This will scale the image to cover the entire container */
    border: black 7px;
}

.about-us{
    text-align: center;
    font-family: Perpetua, Font2, sans-serif;
    font-size: 1.3vw;
    line-height: 1.5;
    padding-top: 5%;
}

.about-us-container{
    width: 70%;
    margin-bottom: 5%;
    margin-inline: 15%;
}

.menu-btn{
    align-self: start;
    max-height: 20px;
    margin-right: 30%;
    margin-left: 0;
    display: inline;
}

.menu-content{
    display: inline;
}

.menu-button{
    display: inline;
    margin-right: 30%;
}

#menu-icon {
    cursor: pointer;
}

.vertical-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #5a768a;
    font-family: Font2, sans-serif;
    min-width: 20%;
    z-index: 1;
    margin-right: 80%;
    text-align: center;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    max-height: 0;
    overflow: hidden;
}

.vertical-menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
    text-align-all: center;
    font-weight: bold;
    margin: 3%;
}

.menu-button:hover .vertical-menu {
    max-height: 200px; /* Adjust the maximum height as needed */
    transition: max-height 0.9s ease-in-out; /* Add this line */
}


.vertical-menu.open {
    max-height: 200px; /* Adjust the maximum height as needed */
}


.abt{
    display: flex; /* Use flexbox to control the layout */
    align-items: center; /* Vertically center the content */
    background-color: #9bc1c4;
}

.abt-text-1{
    width: 50%; /* Adjust the width as needed */
    font-family: Perpetua, Font2, sans-serif;
    font-size: 1.3vw;
    line-height: 1.5;
    text-align: center;
    margin-inline: 3% 8%;
}

.abt-image-1{
    width: 50%; /* Adjust the width as needed */
    left: 0;
}

.abt-image-1 img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain the aspect ratio */
    margin-top: 10%;
}

.abt-text-2{
    width: 55%; /* Adjust the width as needed */
    padding: 20px 20px 20px 0; /* Add padding for spacing */
    font-family: Perpetua, Font2, sans-serif;
    font-size: 1.3vw;
    line-height: 1.5;
    text-align: center;
    margin-inline: 8% 3%;
}

.abt-image-2{
    width: 70%; /* Adjust the width as needed */
    align-content: end;
}

.abt-image-2 img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain the aspect ratio */
    right: 0;
}





/* CSS for the rotating gallery */
.projects-rotating-gallery {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #95bdb0;

}

.gallery-slides-2 {
    display: flex;
    transition: transform 1s ease-in-out;
}

.project-2 {
    flex: 0 0 14%; /* Show seven projects at a time */
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.project-2 h3 {
    margin: 10px 0;
    font-family: 'Font2', Arial, sans-serif;
}

.project-2 img {
    width: 11vw;
    height: 11vw;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px auto 3px;
}

.project-2 p {
    font-family: Perpetua, 'Font2', sans-serif;
    font-size: large;
    padding-bottom: 2%;
}

.rotate-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}

#prev-button {
    left: 0;
    color: rgb(255,255,255, 0.5);
}

#next-button {
    right: 0;
}

.separator{
    background-image:
            linear-gradient(to right, transparent 100px, transparent 300px), /* Add 10px of space before repeating the image */
            url("media/bg/leaf.png"); /* Your image */
    width: 100%;
    height: 33px;
    background-size: 1.5%;
    background-repeat: repeat-x;
    background-color: rgba(1, 57, 174, 0.41);
}
