body{
    background-color: white;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.project {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10%;
}

.project h3 {
    margin: 10px 0;
    font-family: 'Font2', Arial, sans-serif;
}

.project a{
    text-decoration: none;
    color: black;
}

.project img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px auto;
}

.project p{
    font-family: Perpetua, 'Font2', sans-serif;
    font-size: large;
    max-height: 70px;
}

.join-button {
    display: inline-block;
    background-color: #89be74;
    color: #fff;
    border: none;
    border-radius: 2vw;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: 'Font2', Arial, sans-serif;
    cursor: pointer;
    margin-top: 24px;
    width: 30%;
    height: 10%;
    padding: 0;
    box-shadow: 0 0 2vw 1.5vw white;

}

.join-button:hover {
    background-color: rgba(160, 216, 227, 0.73); /* Change the background color on hover */
}

.join-form {
    padding: 0;
    display: inline;
}

.search-bar {
    align-content: center;
    width: 60%;
    align-self: center;
    margin: 0 20% 0 35%;
    position: page;
    overflow: hidden;
}
.search-bar input{
    border-radius: 4vw;
    left: 0;
    text-decoration: none;
    border: 1px solid darkgray;
    min-height: 2vw;
    width: 40%;
    align-self: start;
    font-family: Perpetua, Font2, sans-serif;
    font-size: 1.3vw;
    min-width: 50%;


}

#search-button {
    align-self: end;
    position: sticky;
    min-height: 2vw;
    border: none;
    font-size: 1.3vw;
    font-family: Perpetua, Font2, sans-serif;
    border-radius: 4vw;
    color: white;
    cursor: pointer;
    background-color: black;
    padding-inline: 10px;
    width: 8%;
}

a.edit-btn{
    display: inline-block;
    background-color: #a9b9a1;
    color: #fff;
    border: none;
    border-radius: 2vw;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: 'Font2', Arial, sans-serif;
    cursor: pointer;

    box-shadow: 0 0 2vw 1.5vw white;
    height: fit-content;
    width: fit-content;
    padding-inline: 10%;
    padding-top: 4%;
    padding-bottom: 4%;

    margin-top: 20px;
    bottom: 0;
}