/* CSS styles for the home page */
@font-face {
    font-family: 'Font1'; /* Header font */
    src: url('media/font1/ancient-tulip-webfont.woff2') format('woff2'),
    url('media/font1/ancient-tulip-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Font2'; /* menu bar font */
    src: url('media/font2/VintageGlamour.woff2') format('woff2'),
    url('media/font2/VintageGlamour.woff') format('woff');
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Font1', Arial, sans-serif;
    background-image: url('media/home_banner.jpg');
    height: 220px;
    background-size: contain;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #abdbb7;
    text-align: center;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1, .company-name {
    font-size: 9vw; /* Adjust font size as needed */
}

h2 {
    font-family: 'Font2', Arial, sans-serif;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

nav {
    background-color: #5a768a;
    color: #89d6b6;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}


nav a {
    color: #ffffff;
    font-family: 'Font2', Arial, sans-serif;
    text-decoration: none;
    margin: 0 19px;
    font-weight: bold;
    display: inline;
}

.vertical-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #5a768a;
    font-family: Font2, sans-serif;
    min-width: 20%;
    z-index: 1;
    margin-right: 80%;
    text-align: center;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    max-height: 0;
    overflow: hidden;
}


.menu-btn{
    align-self: start;
    max-height: 20px;
    margin-right: 30%;
    margin-left: 0;
    display: inline;
}

.menu-content{
    display: inline;
}

.menu-button{
    display: inline;
    margin-right: 30%;
}

#menu-icon {
    cursor: pointer;
}


.vertical-menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
    text-align-all: center;
    font-weight: bold;
    margin: 3%;
}

.menu-button:hover .vertical-menu {
    max-height: 200px; /* Adjust the maximum height as needed */
    transition: max-height 0.9s ease-in-out; /* Add this line */
}

.vertical-menu.open {
    max-height: 200px; /* Adjust the maximum height as needed */
}

.info {
    margin: 3% auto 10%;
    width: 65%; /* Adjust width as needed */

    height: fit-content;
    border-radius: 0; /* Adjust border radius for sharp corners */
    border: 2px solid black; /* Add a black border */

    background-color: white;

    text-align: left;
    align-content: normal;

    padding: 10px 10px 70px;

    font-family: Perpetua, Font2, sans-serif;
}

.info p{
    margin-inline: 10%;
}

.head-img{
    width: 100%;
    height: 25vw;
    overflow: hidden;
}

.head-img img{
    object-fit: contain;
    width: 100%;
    height: auto; /* Make the image fill its container vertically */
}

