.info {
    margin: 3% auto 10%;
    width: 65%; /* Adjust width as needed */

    height: fit-content;
    border-radius: 0; /* Adjust border radius for sharp corners */
    border: 2px solid black; /* Add a black border */
    background-color: white;
    text-align: left;
    align-content: normal;
    padding: 10px 10px 0;

}

.info h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.info p{
    padding-left: 130px;
    font-family: Perpetua, Arial, sans-serif;
    font-size: 18px;
}

div{
    width: 75%;
    align-content: center;
}

.info h3{
    color: black;
    cursor: pointer;
    font-family: 'Font2', Arial, sans-serif;
    font-size: 20px;
    margin-left: 130px;
    text-decoration: none;
}

h3{
    margin-left: 40px;
    text-decoration: none;
}

.date-info{
    display: inline-block;
    color: black;
    text-decoration: none;
    width: 50%;
}

.edit-button {
    background-color: rgba(90, 118, 138, 0.8); /* Button background color */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 3vw;
    padding: 15px 70px 15px;
    font-family: 'Font2', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin-left: 50%;
}

.edit-button:hover {
    background-color: #89d6b6;
}

.details{
    text-decoration: none;
    display: inline;
}
details button{
    display: inline-block;
}
.delete-button {
    background-color: rgb(0, 0, 0); /* Button background color */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 3vw;
    padding: 15px 50px 15px;
    font-family: 'Font2', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    border: none;
    margin: 0 50px 0;
}

.delete-button:hover {
    background-color: #912424;
}

.button-container {
    width: 50%;
    display: inline-flex;
    align-content: start;
    margin-top: 3%;
    vertical-align: top;
}

