.info {
    margin: 3% auto 10%;
    width: 65%; /* Adjust width as needed */

    height: fit-content;
    border-radius: 0; /* Adjust border radius for sharp corners */
    border: 2px solid black; /* Add a black border */

    background-color: white;

    text-align: left;
    align-content: normal;

    padding: 10px 10px 70px;

    font-family: Perpetua, Font2, sans-serif;
    font-size: 1.25vw;
}

.info p{
    margin-inline: 10%;
}

.head-img{
    width: 100%;
    height: 25vw;
    overflow: hidden;
}

.head-img img{
    object-fit: contain;
    width: 100%;
    height: auto; /* Make the image fill its container vertically */
}

.tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 1.25vw;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.project-tags{
    margin-left: 10%;
}

.writing {
    background-color: rgba(217, 150, 135, 0.64); /* Example color for "Writing" */
    border: 3px solid #d58573;
    color: #6a341e;
}

.teaching {
    background-color: rgba(216, 134, 238, 0.75); /* Example color for "Teaching" */
    border: 3px solid #b374be;
    color: #5b386f;
}


/* Styles for "Event Planning" tag */
.event-planning {
    background-color: rgba(102, 153, 254, 0.4); /* Background color for "Event Planning" */
    border: 3px solid #6c9cf9; /* Border color for "Event Planning" */
    color: #35588d; /* Text color */
}

/* Styles for "Communication" tag */
.communication {
    background-color: rgba(252, 151, 199, 0.64); /* Background color for "Communication" */
    border: 3px solid #e874a8; /* Border color for "Communication" */
    color: #7b3a53; /* Text color */
}

/* Styles for "Technical" tag */
.technical {
    background-color: rgba(248, 198, 93, 0.41); /* Background color for "Technical" */
    border: 3px solid #ce8c3e; /* Border color for "Technical" */
    color: #725c2e; /* Text color */
}

/* Styles for "Leadership" tag */
.leadership {
    background-color: rgba(242, 245, 144, 0.41); /* Background color for "Leadership" */
    border: 3px solid #ebd84a; /* Border color for "Leadership" */
    color: #50501c; /* Text color */
}

/* Styles for "Artistic" tag */
.artistic {
    background-color: rgba(255, 176, 228, 0.55); /* Background color for "Artistic" */
    border: 3px solid #eb97d0; /* Border color for "Artistic" */
    color: #a13c5e; /* Text color */
}

/* Styles for "Language" tag */
.language {
    background-color: rgba(90, 209, 170, 0.41); /* Background color for "Language" */
    border: 3px solid #5daa91; /* Border color for "Language" */
    color: #4b7d60; /* Text color */
}

/* Styles for "Hands-on Tasks" tag */
.hands-on-tasks {
    background-color: rgba(53, 204, 248, 0.26); /* Background color for "Hands-on Tasks" */
    border: 3px solid rgb(136, 171, 201); /* Border color for "Hands-on Tasks" */
    color: #4e6f9b; /* Text color */
}

/* Styles for "Nature" tag */
.nature {
    background-color: rgba(173, 251, 139, 0.55); /* Background color for "Nature" */
    border: 3px solid #87d275; /* Border color for "Nature" */
    color: #5e8759; /* Text color */
    font-family: Perpetua, sans-serif;
}

/* Styles for "Other" tag */
.other {
    background-color: rgba(176, 176, 176, 0.75); /* Background color for "Other" */
    border: 3px solid #666; /* Border color for "Other" */
    color: #363636; /* Text color */
}

.edit-btn{
    background-color: #000000; /* Button background color */

    color: #ffffff; /* Button text color */
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Font2', Arial, sans-serif; /* Button font */
    font-weight: bold;
    height: fit-content;
    width: fit-content;
    border-radius: 3vw;
    display: inline-block;

    font-size: 1.2vw;
    padding: 1vw;
    padding-inline: 70px;
    text-decoration: none;
    margin-bottom: 2%;
    margin-top: 5%;
    margin-left: 10%;
}

.join-button {
    background-color: #89be74;
    color: #fff;
    border: none;
    border-radius: 3vw;
    text-decoration: none;
    font-weight: bold;

    font-size: 1.2vw;
    font-family: 'Font2', Arial, sans-serif;
    cursor: pointer;
    margin-top: 1vw;
    margin-left: 10%;
    height: fit-content;
    width: fit-content;
    padding: 1vw;
    padding-inline: 70px;
    box-shadow: 0 0 2vw 1.5vw white;
}

.join-button:hover {
    background-color: rgba(160, 216, 227, 0.73); /* Change the background color on hover */
}

.leave-button {
    background-color: #c05d5d;
    color: #fff;
    border: none;
    border-radius: 3vw;
    text-decoration: none;
    font-weight: bold;

    font-size: 1.2vw;
    font-family: 'Font2', Arial, sans-serif;
    cursor: pointer;
    margin-top: 1vw;
    margin-left: 10%;
    height: fit-content;
    width: fit-content;
    padding: 1vw;
    padding-inline: 70px;
    box-shadow: 0 0 2vw 1.5vw white;
}

.leave-button:hover {
    background-color: rgb(144, 2, 2); /* Change the background color on hover */
}

.info a:hover {
    background-color: #89d6b6;
}
.edit-btn a:hover {
    background-color: #cc0000;
}