@font-face {
    font-family: 'Font1'; /* Header font */
    src: url('media/font1/ancient-tulip-webfont.woff2') format('woff2'),
    url('media/font1/ancient-tulip-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Font2'; /* menu bar font */
    src: url('media/font2/VintageGlamour.woff2') format('woff2'),
    url('media/font2/VintageGlamour.woff') format('woff');
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    font-family: 'Font1', Arial, sans-serif;
    background-image: url('media/home_banner.jpg'); /* Replace with the actual path to your image */
    height: 220px;
    background-size: contain;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6); /* Optional overlay color */
    color: #abdbb7;
    /*padding: 10px 0; */
    text-align: center;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1, .company-name {
    /*padding-top: -960px; /* Add padding to the top to separate from the banner */
    font-size: 9vw; /* Adjust font size as needed */
}
h2 {
    font-family: 'Font2', Arial, sans-serif;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    margin-bottom: 100px;

}

nav {
    background-color: #5a768a;
    color: #89d6b6;
    text-align: center;
    padding: 10px 0;

}
nav a {
    color: #ffffff;
    font-family: 'Font2', Arial, sans-serif;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.project {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10%;
}

.project h3 {
    margin: 10px 0;
    font-family: 'Font2', Arial, sans-serif;
}

.project a{
    text-decoration: none;
    color: black;
}

.project img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px auto;
}



.project p{
    font-family: Perpetua, 'Font2', sans-serif;
    font-size: large;
    max-height: 70px;
}

.join-button {
    display: inline-block;
    background-color: #89be74;
    color: #fff;
    border: none;
    border-radius: 2vw;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: 'Font2', Arial, sans-serif;
    cursor: pointer;
    margin-top: 24px;
    width: 30%;
    height: 10%;
    padding: 0;
    box-shadow: 0 0 2vw 1.5vw white;

}

.join-button:hover {
    background-color: rgba(160, 216, 227, 0.73); /* Change the background color on hover */
}

.join-form {
    padding: 0;
    display: inline;
}
