@font-face {
    font-family: 'Font1'; /* Header font */
    src: url('media/font1/ancient-tulip-webfont.woff2') format('woff2'),
    url('media/font1/ancient-tulip-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Font2'; /* menu bar font */
    src: url('media/font2/VintageGlamour.woff2') format('woff2'),
    url('media/font2/VintageGlamour.woff') format('woff');
}

header {
    font-family: 'Font1', Arial, sans-serif;
    background-image: url('media/home_banner.jpg'); /* Replace with the actual path to your image */
    height: 220px;
    background-size: contain;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6); /* Optional overlay color */
    color: #abdbb7;
    text-align: center;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1, .company-name {
    /*padding-top: -960px; /* Add padding to the top to separate from the banner */
    font-size: 9vw; /* Adjust font size as needed */
}
h2 {
    font-family: 'Font2', Arial, sans-serif;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    margin-bottom: 20%;
}


.company-name {
    /* font-size: 24px;*/
    font-weight: bold;

}
nav {
    background-color: #5a768a;
    color: #89d6b6;
    text-align: center;
    padding: 10px 0;

}
nav a {
    color: #ffffff;
    font-family: 'Font2', Arial, sans-serif;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #b8e0c7;

}

.register-container {
    margin: 0 auto;
    margin-top: 3%;
    width: 35%; /* Adjust width as needed */

    border-radius: 0px; /* Adjust border radius for sharp corners */
    border: 2px solid black; /* Add a black border */

    background-color: white;
    padding: 20px;
    text-align: center;
    align-content: center;
}

.register-container h1 {
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container input {
    display: flex;

    width: 100%;
    padding: 10px;
    border: none; /* Remove the default border */
    border-bottom: 1px solid #ccc; /* Add a bottom border */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    background-color: white;
    outline: none;
    transition: background-color 0.3s;
}

.input-group {
    width: 70%;

    padding-inline: 15%;
    position: relative;
    margin-bottom: 20px;
    margin-outside: 50px;
}

.register-container form {
    margin-top: 20px; /* Add spacing at the top */
    margin-bottom: 40px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    transition: background-color 0.3s;

}

label {
    position: revert;
    transform: translateY(-50%);
    background-color: #fff;
    font-size: 16px;
    transition: top 0.3s, font-size 0.6s;
    color: #595959;
    font-family: 'Font2', Arial, sans-serif;
    text-align: left;
}

input:focus,
input:valid {
    background-color: #fff;
}

input:focus + label,
input:valid + label {
    top: 0;
    font-size: 10px;
    background-color: transparent;
}


.register-container button {
    background-color: #5a768a; /* Button background color */
    color: #ffffff; /* Button text color */
    border: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Font2', Arial, sans-serif; /* Button font */
    font-weight: bold;
    padding: 15px 70px;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 3vw;
}

.register-container button:hover {
    background-color: #89d6b6;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 16px;
    width: 100%;
    height: 1800%;
    box-sizing: border-box;
    font-family: 'Font2', Arial, sans-serif;
    margin-bottom: 20px;
}

/* Style the arrow icon */

/* Add a custom arrow icon using a background image */
select {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px 20px; /* Adjust the size of the arrow icon */
    padding-right: 40px; /* Add space for the arrow icon */
    border-radius: 3vw;

}

/* Apply styles to the "Choose File" input element */
input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 16px;
    width: 100%;
    height: 1300%;
    box-sizing: border-box;
    font-family: 'Font2', Arial, sans-serif;
    text-decoration-color: #5a768a;
    margin-bottom: 20px;
    border-radius: 3vw;

}

/* Style the "Choose File" button */
input[type="file"]::file-selector-button {
    padding: 10px;
    background-color: #5a768a;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Font2', Arial, sans-serif;
}

/* Style the arrow icon (if applicable) */
input[type="file"]::-webkit-file-upload-button {
    background-color: #5a768a;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3vw;
}

.notification {
    display: none;
    background-color: #f44336;
    color: darkred;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 1000;
}
